
@{
    ViewData["Title"] = "Claims Status";
}
@model List<ClaimsPoe.Models.Entities.Claim>


<div class="AMAP-Claims-body">
    <table class=" product-table">
    <thead>
        <tr>
            <th colspan="9" class="product-table-head">Claim Status</th>
        </tr>
            <tr class="column-heads">
            <th>Claim ID</th>
            <th>Lecturer Name</th>
            <th>Description</th>
            <th>Hours Worked</th>
            <th>Rate</th>
            <th>Total</th>
            <th>Document</th>
            <th>Lecturer Email</th>
            <th>Claim Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Model)
        {
            <tr>
                <td>@claim.Id</td>
                <td>@claim.Name</td>
                <td>@claim.Description</td>
                <td>@claim.HoursWorked</td>
                <td>@claim.Rate</td>
                <td>@claim.Total</td>
                <td>@claim.Document</td>
                <td>@claim.LecturerId</td>
                <td>@claim.Status</td>
                
            </tr>
        }
    </tbody>
</table>
</div>
